@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lora&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Lora&family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 7vh;
    background-color: black;
    color: white;
}
nav ul li{
   padding: 0px 12px;
}
.brand img{
    width: 44px;
    padding: 5px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 60vh;
    max-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 65%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg' ); 
    background-size : contain;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin: 0px 0;
}
.icons{
    margin-top: 12px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
    height: 35px;
    display: flex;
    background-color: white;
    color: black;
    width: 80%;
    margin: 8px 0;
    border-radius: 34px;
    justify-content: space-between;
    align-items: center;
}
.songName{
    position: absolute;
    margin-left: 50px;
}
.songItemContainer{
    margin: 20px;
}
.songItem img{
    width: 30px;
    margin: 0 8px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 5px;
}
.songlistplay i{
    cursor: pointer;
    margin-right: 10px;
}
.songInfo{
    position: absolute;
    left: 11vw;
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
}
.currSongSingerName{
    margin-left: vw;
}
.songInfo img{
     opacity: 0;
     transition: 0.4s;
}

